# Godot
client/.godot/
client/export/
# Copie du serveur embarquée à l'export (produite par la compilation)
client/bin/
# Builds
dist/
server/ninja-server
server/ninja-server.exe
# Sauvegardes locales
*.save.json
